@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.cal-bg-container{
    background: linear-gradient(to right, #20c997, #a2f551);
    height:100vh;
}
.calculator {
    width: 350px;
    margin: 0 auto;
    border: 3px solid #7712d5;
    border-radius: 5px;
    padding: 10px;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #6d6060;
    border: none;
    padding: 10px;
    color: white;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.button-grid button {
    width: 100%;
    height: 50px;
    background-color: #333333;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
}

.button-grid button:hover {
    background-image:linear-gradient(rgb(222, 66, 243),rgba(0, 221, 235, 1))  ;
}
